.results {
  margin-top: 20px;
}

.results__searchTerm {
  font-size: large;
  font-weight: 600;
}

.results__header {
  text-align: center;
}

.results__title {
  display: flex;
  color: #000;
  font-size: large;
  margin: 5px;
  font-weight: 500;
  padding: 15px 10px;
  border-radius: 10px ;
  border: 2px solid lightgrey;
}

.results__title > a {
  color: #000;
}

.results__wrapper {
  padding: 10px 0 10px 10px;
  margin: 5px 0;
}

.results__Subheader {
  text-align: center;
  font-family: var(--tiwik-main-font); 
}

.results__Postmodal {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 25%;
  bottom: auto;
  scroll-behavior: smooth;
  border: 1px solid #cac7c7;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #0000002f;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  background-color: aqua;
}

.results__openPost {
  padding: 10px;
}

.results__openPostHeader {
  display: flex;
  flex-direction: row-reverse;  
}

.results__closeButton {
  float: right;
  margin-top: 15px;
  box-shadow: 0 3px 8px #0000003f;
}

.results__postTitle { 
  padding: 20px;
  text-align: center;
  margin: 5px auto;
}

.results__postContent {
  background: azure;
  box-shadow: 0px 0px 10px 2px #0000002f;
  padding: 20px 40px 0 40px;
  text-align: justify;
}

.profileResults__profile {
  display: flex;
  padding: 10px 0 10px 10px;
  margin: 5px 0;
  border-radius: 10px ;
  border: 2px double lightgrey;
}

.profileResults__title {
  color: #000;
  font-family: var(--tiwik-main-font); 
  font-size: 25px;
  font-weight: 500;
  margin: auto 5px auto 0;
  padding: auto 10px;
}

.profileResults__bio {
  color: gray;
  margin: auto 5px;
  padding: auto 10px;
  font-weight: 500;
  font-size: 15px;
}

.results__profileImg {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #1f1f1f;
}


.questionResults__header {
  margin: 5px auto;
}

@media screen and (max-width: 800px) {
  .profileResults__bio {
    display: none;
  }

  .results__title {
  padding: 10px;
  }

  .profileResults__profile {
    padding: 5px 0 5px 5px;
  }
}
