.article__section {
  background: #ffffff;
  padding: 10px 5px 10px 5px;
  margin: 0 5px 20px 5px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 10px -1px #0000003f;
}

.datePublished {
  font-size: 15px;
  color: #727171;
}

.article__authorWrapper {
  background: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

.article__author {
  color: aliceblue;
  font-size: 14px;
  font-weight: 600;
  margin:5px 0;
  font-family: var(--tiwik-head-font);
}

.article__author:hover {
  color: aliceblue;
  text-decoration: none;
}

.article__author__profilePic {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 50px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #1f1f1f;
}

.article__metadata {
  padding-bottom: 2px;
}

.article__submeta {
  display: flex;
  margin-right: 0;
}

.article__title {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--tiwik-main-font);
  margin-bottom: 0;
}

.article__title:hover {
  color: #727171;
  text-decoration: none;
}

.answer__section {
  font-family: var(--tiwik-head-font);
  font-weight: 400;
  border-top: 1px dashed #1f1f1f;
  text-align: justify;
  text-indent: 40px;
  padding: 10px 15px 0px 15px;
}

.answer__section > p {
  margin-bottom: 0;
}

.answer__readMore {
  color: blue;
  font-weight: 500;
}

.article__date {
  color: #727171;
  font-size: medium;
}

#dropdownMenuicon {
  float: right;
  z-index: 5;
  margin: 10px;
}

.article__likes {
  float: right;
  color: darkcyan;
  font-size: medium;
  font-weight: 500;
  margin-left: auto;
  margin-right: 5px;
}

.dropdown-menu {
  background-color: #ddd;
  width: 100px;
}

.replyButton {
  display: flex;
  justify-content: center;
}

.replyButton > .likeButton {
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 1px #0000003f;
}

.likeButtonIcon {
  color: #2f80ed;
  font-size: 25px;
}

.post__option {
  display: flex;
  justify-content: center;
}

.post__option > .editPost > .answerButton {
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px #0000003f;
}


.post__option > .editPost > .answerButton > .editPost__answerIcon {
  font-size: 20px;
}

.post__option > .deleteButton {
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px #0000003f;
}

.post__option > .deleteButton > .deletePost__Icon {
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .article__section {
    background: #ffffff;
    padding: 10px 5px 10px 5px;
    margin: 0 0 15px 0;
  }

  .article__author {
    font-weight: 600;
    margin-bottom: 2px;
  }

  .article__author:hover {
    color: #727171;
    text-decoration: none;
  }

  .article__author__profilePic {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .article__metadata {
    padding-bottom: 2px;
  }

  .article__submeta {
    display: block;
  }

  .article__title {
    color: #1f1f1f;
    font-size: 18px;
    font-weight: 600;
  }

  .article__title:hover {
    color: #727171;
    text-decoration: none;
  }

  .article__date {
    color: #727171;
    font-size: medium;
  }

  #dropdownMenuicon {
    float: right;
    z-index: 5;
    margin: 10px;
  }

  .article__likes {
    font-size: medium;
    float: none;
  }

  .dropdown-menu {
    background-color: #ddd;
    width: 100px;
  }

  .answer__section {
    padding: 5px 10px 0px 5px;
  }

  .replyButton > .likeButton__wrapper {
    text-align: center;
    align-self: center;
    width: 14%;
    margin: 0 auto;
    border-radius: 999px;
    box-shadow: 0 4px 8px #0000003f;
    background-color: #f8f9fa;
    border-color: 1px solid lightgrey;
  }
}
