.landing {
  background: #ffffff;
}

.landing__headline {
  margin-top: 20px;
  text-align: center;
}

.landing__headline > span{
  font-style: underline;
  font-family:var(--tiwik-main-font);
  margin-top: 30px;
  color: #799FFD;
  font-weight: 600;
  font-size: 25px;
}

.landing__slideOne {
  display: flex;
  position: relative;
  width: 100vw;
  height: 70vh;
  padding: 50px;
}

.landing__slideTwo {
  display: flex;
  position: relative;
  width: 100vw;
  height: 70vh;
  padding: 50px;
}

.landing__IllustrationOne {
  padding: 0 100px 100px 100px;
}

.landing__IllustrationTwo {
  padding: 0 250px 100px 250px;
}

.landing__picOne {
  height: 700px;
}

.landing__picTwo {
  height: 500px;
}

.landing__picThree {
  height: 600px;
}

.landing__tagOne {
  text-align: center;
  font-family:var(--tiwik-main-font);
  font-weight: 600;
  padding: 150px 200px 100px 100px;
  line-height: 20px;
}

.landing__tagTwo {
  text-align: center;
  font-family:var(--tiwik-main-font);
  font-weight: 600;
  padding: 150px 100px 100px 100px;
  line-height: 20px;
}

.landing__tagThree {
  text-align: center;
  font-family:var(--tiwik-main-font);
  font-weight: 600;
  padding: 250px 100px 100px 250px;
  line-height: 20px;
}

.landing__tagline {
  margin-bottom: 40px;
}

.landing__tagline > p {
  padding: 20px;
  font-size: large;
}

.landing__tagOne > .landing__tagline > span {
  color: #2f80ed;
  font-size: 40px;
  font-weight: 700;
}

.landing__tagTwo > .landing__tagline > span {
  color: #1d976c;
  font-size: 35px;
  font-weight: 700;
}

.landing__tagThree > .landing__tagline > span {
  color: #8e2de2;
  font-size: 35px;
  font-weight: 700;
}

.landing__tagOne > .landing__Join {
  font-size: larger;
  font-weight: 600;
  margin-top: 50px;
  padding: 15px 20px;
  color: #ffffff;
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);;
  border-radius: 99px;
  box-shadow: 2px 2px 6px lightgray;
}

.landing__tagTwo > .landing__Join {
  font-size: larger;
  font-weight: 600;
  margin-top: 50px;
  padding: 15px 20px;
  color: #ffffff;
  background: linear-gradient(to top, #1d976c, #93f9b9);
  /* background-color: #92E3A9; */
  border-radius: 99px;
  box-shadow: 2px 2px 6px lightgray;
}

.landing__tagThree > .landing__Join {
  font-size: larger;
  font-weight: 600;
  margin-top: 50px;
  padding: 15px 20px;
  color: #ffffff;
  background: linear-gradient(to bottom, #8e2de2, #4a00e0);
  /* background-color: #BFA6EB; */
  border-radius: 99px;
  box-shadow: 2px 2px 6px lightgray;
}

.landing__tagOne > .landing__Join:hover {
  color: #ffffff;
  background-color: #3b5792;
}

.landing__tagTwo > .landing__Join:hover {
  color: #ffffff;
  background-color: darkcyan;
}

.landing__tagThree > .landing__Join:hover {
  color: #ffffff;
  background-color: #9d6eee;
}
@media screen and (max-width: 800px) {
  .landing {
    display: block;
    margin-bottom: 40px;
  }

  .landing__headline > span{
    font-size: 18px;
    font-weight: 700;
  }
  .landing__slideOne {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 80vh;
    padding: 10px;
  }

  .landing__slideTwo {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100vw;
    height: 80vh;
    padding: 10px;
  }

  .landing__IllustrationOne {
    padding: 20px 0;
    margin: 0;
    width: 300px;
  }

  .landing__IllustrationTwo{
    padding: 20px 0;
    margin: 0;
    width: 300px;
  }

  .landing__picOne {
    height: 250px;
    margin: 0px 50px;
  }

  .landing__picTwo {
    height: 250px;
    margin: 0px 50px;
  }

  .landing__picThree {
    height: 250px;
    margin: 0px 50px;
  }

  .landing__tagOne {
    text-align: center;
    font-family:var(--tiwik-main-font);
    padding: 0px;
    margin:0px;
    /* line-height: 20px; */
  }

  .landing__tagTwo {
    text-align: center;
    font-family:var(--tiwik-main-font);
    padding: 0px;
    margin:0px;
    /* line-height: 20px; */
  }

  .landing__tagThree {
    text-align: center;
    font-family:var(--tiwik-main-font);
    padding: 0px;
    margin:0px;
    /* line-height: 20px; */
  }


  .landing__tagline {
    font-size: small;
  }

  .landing__tagOne > .landing__tagline > span {
    font-size: 20px;
    font-weight: 800;
  }

  .landing__tagTwo > .landing__tagline > span {
    font-size: 20px;
    font-weight: 800;
  }

  .landing__tagThree > .landing__tagline > span {
    font-size: 20px;
    font-weight: 800;
  }
}