
.profileImage__edit__Modal {
  position: fixed;
  top: 20%;
  left: 35%;
  right: 35%;
  bottom: 15%;
  border: 1px solid #cac7c7;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #0000002f;
}

.cropper {
  position: fixed;
  top: 40%;
  left: 40%;
  right: 40%;
  bottom: 20%;
}

.uploadImage > .profileImage__edit__Modal > form {
  display: flex;
  flex-direction: column;
}

.upload__input {
   position: relative;
   width: 200px;
   margin: 20px auto;
   padding: 10px 12px;
   text-align: center;
   color:#fff;
   font-size: 15px;
   background: linear-gradient(to bottom, #56ccf2, #2f80ed);
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -o-border-radius: 4px;
   -ms-border-radius: 4px;
   box-shadow: 0px 7px 15px #eef2f3;
   -webkit-box-shadow: 0px 7px 15px #eef2f3;
   -moz-box-shadow: 0px 7px 15px #eef2f3;
   -o-box-shadow: 0px 7px 15px #eef2f3;
   -ms-box-shadow: 0px 7px 15px #eef2f3;
   overflow: hidden;
}

.upload__inputImage {
  padding: 10px 35%;
}

.upload__buttons {
  margin: 20px auto;
}

input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0px;
  bottom: 0px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .profileImage__edit__Modal {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #cac7c7;
    border-radius: 4px;
    padding: 20px;
  }

  .cropper {
    position: fixed;
    top: 40%;
    left: 10%;
    right: 10%;
    bottom: 10%;
  }
  
}