.header {
  background: #ffffff;
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;  
  min-height: 50px;
  width: 100vw;
}

.site__logo {
  height: 50px;
  margin: 10px 0;
}

.beta_tag {
  font-style: italic;
  font-size: medium;
  font-weight: 600;
  color: #fff;
  position:absolute;
}

.header__img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  border:1px solid #fff;
  box-shadow: 0px 4px 8px 4px #0000002f;
  align-items: center;
}

.header__menu {
  margin-left: 400px;
}

.header__search  > .search > .search__icon {
  /* margin-top: 5px; */
  margin-right: 5px;
  margin-left: auto;
}

.navbar-toggler {
  border: none;
  padding: 0;
  background: none;
}

.logged-in .navbar-nav .nav-link {
  font-family:var(--tiwik-main-font);
  color: #fff !important;
}

.logged-in .navbar-nav .nav-link span{
  margin-left: 10px;
  font-weight: 500 !important;
  font-size: 20px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.visitor {
  display: flex;
}

.visitor .nav-item .nav-link {
  background: linear-gradient(to top, #56ccf2, #2f80ed);
  margin-right: 10px;
  border-radius: 99px;
  box-shadow: 0px 4px 8px #0000002f;
}

.visitor .nav-item .nav-link span{
  font-family:var(--tiwik-head-font);
  padding: 4px;
  color: #ffffff;
  font-size: large;
  font-weight: 900;
}

@media screen and (max-width: 800px) {
  .header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 2px 1px #0000002f;
  }

  .header__search  > .search > .search__icon {
    margin-top: 15px;
  }

  .logged-in .navbar-nav .nav-link {
    margin-left: auto;
    font-size: small;
    color: #fff;
    font-weight: 700;
    font-size: large;
    border-top: 1px solid #fff;
  }

  .logged-in .navbar-nav .nav-link span{
    font-size: large;
  }

  .site__logo {
    height: 40px;
    margin: 5px 0;
  }

  .visitor .nav-item .nav-link {
    background: none;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    margin: 0 2px;
    box-shadow: none;
  }

  .visitor .nav-item .nav-link:hover {
    border: none;
  }

  .visitor .nav-item .nav-link> span {
    font-size: medium;
    font-weight: 900;
    padding: 0;
    margin: 0;
  }

  .visitor .nav-item .signup-link{
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px #0000002f;
  }

  .visitor .nav-item .signup-link:hover{
    border: 2px solid cyan;
  }

  .header__menu {
    display: flex;
    margin-left: 0;
  }
}
