* {
  margin: 0;
  padding: 0;
  --tiwik-main-font: 'Baloo 2', cursive;
  --tiwik-sub-font:'Raleway', sans-serif;
  --tiwik-head-font: 'Kufam', cursive;
}

.app {
  background-color: white;
}

.btn {
  font-weight: 500 !important;
}

main {
  padding-top: 80px; 
  width: 100vw; 
}

a:hover {
  text-decoration: none !important;
}

.show_connections {
  padding: 0 !important;
}

:root{
	--loader-width: 200px;
	--loader-height: 200px;
	--loader-color-primary: #83a4d4;
	--loader-color-secondary: #eee;
	--line-width: 5px;
	--animation-duration: 2s;
	--loader-initial-scale: 0.1;
}
.loader,.loader:before,.loader:after{
  margin: 50px auto;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
}

@keyframes circle-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader.simple-circle {
    transform-origin: center center;
    border: var(--line-width, 4px) solid var(--loader-color-secondary, #fff);
    border-right-color: var(--loader-color-primary, #00f);
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    border-radius: 50%;
    animation: circle-loader var(--animation-duration, 1s) infinite ease-out;
}

@media screen and (max-width: 800px) {
  main {
    padding-top: 65px;
  }

  :root{
    --loader-width: 80px;
    --loader-height: 80px;
    --loader-color-primary: #83a4d4;
    --loader-color-secondary: #eee;
    --line-width: 5px;
    --animation-duration: 2s;
    --loader-initial-scale: 0.1;
  }
}