.page-footer {
  width: 100vw;
  position: relative;
  background-color: #414158;
  color: #fff;
  font-family:var(--tiwik-main-font);
}

.f-link {
  color: #fff !important;

}

.footer-links {
  text-align: center;
  justify-content: space-around;
  padding-top: 30px;
}

.linkSeparator {
  margin: 0 15%;
  border-color: #fff;
}

.socialSeparator {
  margin: 10% 15% 5%;
}

.footer-socials {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 50px;
}

.footer-socials > a {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .footer {
    display: inline;
    position: relative;
    flex-direction: column;
    height: 250px;
    align-items: center;
    }

  .footer__logo {
    height: 25px;
    margin: 10px 0px;
  }

  .footer__nav {
    margin: 0 10px;
  }
}