.connection {
  margin-top: 25px;
  text-align: center;
}

.connection__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  box-shadow: 0 4px 8px -1px #0000003f;
  padding: 5px;
}

.connection__header {
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--tiwik-main-font);
}

.connection__profile {
  margin-bottom: 5px;
  display: flex;
  height: 75px;
  box-shadow: 0 4px 8px #0000003f;
}

.connection__profileImg {
  margin: 10px 5px 10px 5px;
  height: 60px;
  width: 60px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #1f1f1f;
}

.connection__profileInfo {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.connection__profileInfo > button {
  align-self: center;
  width: 80%;
  border-color: #ffffff;
}

.connection__following{
  background: linear-gradient(to top, #11998e, #38ef7d);
}

.connection__follow{
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);

}

.connection__profileInfo > button:hover {
  border-color: #ffffff;
}

.connection__ProfileName {
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--tiwik-main-font);
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none!important;
}

@media screen and (max-width: 800px) {
  .connection {
    display: none;
  }

  .connection__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
  }  

  .connection__header {
    font-weight: 700;
    font-size: 18px;
  }
  
  .connection__profile {
    display: flex;
    margin: 0 2px 2px 2px;
    flex-direction: column;
    width: 33%;
    height: 150px;
    border-top: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px #0000003f;
  }

  .connection__profileImg {
    border-radius: 15px;
    align-self: center;
    margin: 4px 2px 0 2px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px #1f1f1f;
  }

  .connection__profileInfo {
    display: inline;
    text-align: center;
    margin: 2px 0;
    width: 100%;
  }

}