.cookie-text {
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 20px;
  line-height: 2;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #444444;
  color: whitesmoke;
  padding: 0 32px;
  transition: 200ms;
  z-index: 10;
  box-shadow: 0 -2px 16px #4444448f;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: whitesmoke;
}

.cookie-btn {
  float: right;
  background: linear-gradient(to top, #56ccf2, #2f80ed);
  border: 0;
  color: whitesmoke;
  padding: 4px 15px;
  font-size: 15px;
  margin-right: 200px;
  margin-bottom: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.banner_links{
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .cookie-text {
    margin: 25px 25px;
    line-height: 1.5;
  }

  .cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #444444;
    color: whitesmoke;
    padding: 0 32px;
    transition: 200ms;
    z-index: 10;
    box-shadow: 0 -2px 16px #4444448f;
  }

  .cookie-btn {
    float: none;
    width: 90%;
    display: block;
    background: linear-gradient(to left, #56ccf2, #2f80ed);
    border: 0;
    color: whitesmoke;
    padding: 4px 8px;
    font-size: 15px;
    margin: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
  }

  .cookie-container {
    padding: 0 0;
  }

}