.resetPassword {
  margin-top: 50px;
}

.resetPassword__info {
  text-align: justify;
  margin: 20px 0;
  font-weight: 600;
  font-size: large;
}

.resetPassword__email {
  flex: 1;
  outline-width: 0;
  width: 60%;
  border: none;
  margin: 0 20%;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: azure;
  box-shadow: 0px 0px 8px 2px #0000002f;
}

.resetPassword__send {
  margin: 20px 0;
}

.resetPassword__header {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {

  .resetPassword__email {
    width: 100%;  
  }
  
}