.login {
  background: #feffff;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 200px;
}

.login__box {
  background-color: feffff;
  border: 1px solid #f1f3f8;
  padding: 15px 0;
  height: 60%;
  width: 24%;
  margin: 10px 19% 0 19%;
  box-shadow: 0px 0px 4px 1px #0000002f;
  border-radius: 25px;
  border: 1px solid lightgray;
}

.login__box > h2 {
  font-family:var(--tiwik-main-font);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}

.login__error {
  color: red;
  font-weight: 600;
}

.login__errorSign {
  color: red;
  padding-right: 5px;
  font-size: large;
}

.login__google {
  margin: 10px;
  width: 50%;
  border: none;
  border-top: 1px solid #efeff1;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 10px !important;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25) !important;
}

.login__google > span {
  font-size: medium;
  font-family:var(--tiwik-main-font);
  font-weight: 600 !important;
  color: black;
  padding: 10px 0 !important;
}

.login__google:hover {
  text-decoration: none;
  color: black;
}

.login__google > div {
  margin: 0 !important;
}

.login__google > div > svg {
  height: 20px;
  width: 20px;
}

.login__box > h3 {
  font-family:var(--tiwik-main-font);
  font-size: 15px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.login__box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__email {
  font-family:var(--tiwik-main-font);
  flex: 1;
  outline-width: 0;
  width: 75%;
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  background-color: #fff;
  margin: 10px 0;
  border: 1px solid #d6d6d6;
}

.login__email:focus {
  box-shadow: 0px 0px 4px 2px #0000002f;
}

.login__wrap__password {
  display: flex;
  margin: 10px auto;
  background-color: #fff;
  width: 75%;
  border-radius: 999px;
  border: 1px solid #d6d6d6;
}

.login__wrap__password > .login__password:focus {
  box-shadow: 0px 0px 4px 2px #0000002f;
}

.login__password {
  font-family:var(--tiwik-main-font);
  flex: 1;
  outline-width: 0;
  width: 75%;
  border: none;
  padding: 10px 20px;
  border-radius: 999px 0 0 999px;
  background-color: #fff;
}

.login__box > form > button {
  margin: 10px 0;
  border: none;
  width: 75%;
}

.login__box > form > a {
  margin: 5px 0;
}

.login__forget__password {
  font-family:var(--tiwik-main-font);
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
}

.login__forget__password:hover {
  text-decoration: none;
  color: #007bff;
}

.login__sign__up {
  font-family:var(--tiwik-main-font);
  padding: 20px;
  font-weight: 400;
}

.login__button {
  background: linear-gradient(to top, #1d976c, #93f9b9)
}

.login__box > form > .btn {
  color: #fff;
  border-color: #ffffff;
}
.login__RegisterLink {
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);;
}

.login__alert {
  width: 30%;
}

.login__alertText {
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .login {
    margin-top: 100px;
  }

  .login__box {
    border: 1px solid #f1f3f8;
    padding: 5px 0;
    height: 60%;
    width: 90%;
    margin: 10px 5% 2% 5%;
    box-shadow: none;
    border-radius: 15px;
    border: none;
  }

  .login__google {
    width: 70%;
    padding: 10px 5px;
  }

  .login__box > form > input {
    width: 90%;
  }

  .login__box > form > button {
    width: 90%;
  }

  .login__box > form > a {
    width: 90%;
  }

  .login__box > h2 {
    padding: 5px 0;
  }

  .login__wrap__password {
    width: 90%;
  }

  .login__forget__password {
    margin: 5px 0;
  }

  .login__alert {
    width: 80%;
  }
}
