.about {
  padding: 80px 0;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  min-height: 95vh;
}

.about-div {
  font-family: 'Roboto',sans-serif;
  margin: 15px 50px;
  padding: auto;
  text-align: justify;
  text-justify: inter-word;
 }

 .about-title {
  font-family: 'Roboto',sans-serif;
  font-weight: 800;
  font-size: larger;
  margin: 15px 0px;
  padding: auto;
}

.about-subtitle {
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: large;
  margin: 15px 0px;
  padding: auto;
}

.about-para {
  font-family: 'Roboto',sans-serif;
  margin: 15px 0px;
  padding: auto;
}

.about-list {
  font-family: 'Roboto',sans-serif;
  margin: 15px 0px 15px 10px ;
  padding: auto;
}

.user-legend{
  font-family: var(--tiwik-main-font);
  color: #3b5792;
  font-size: 30px;
  font-weight: 900;
  margin: 20px 0px;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 20px 0;
    min-height: 95vh;
  }

  .contact-text {
    padding: 100px 0;
  }
}