.askAdvice {
  display: flex;
  margin: 20px auto 20px auto;
  background-color: #fff;
  width: 90%;
  border-radius: 10px;
  border: 2px solid #dbe0e4;
  box-shadow: 0px 2px 8px 1px #0000002f;
}

.askAdvice__Modal {
  position: fixed;
  top: 15%;
  left: 25%;
  right: 35%;
  bottom: 30%;
  border: 1px solid #cac7c7;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #0000002f;
}

.askAdvice_Modal_Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.askAdvice > input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: azure;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.askAdvice__header {
  color: #555555;
  text-shadow: 0px 2px 15px #9e9999;
  font-family: var(--tiwik-main-font);
  font-size: 25px;
  margin-top: 10px;
}

.askAdvice__title {
  flex: 1;
  outline-width: 0;
  width: 95%;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: azure;
  box-shadow: 0px 0px 8px 2px #0000002f;
}

.askAdvice__description {
  outline-width: 0;
  width: 95%;
  height: 300px;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 15px;
  background-color: azure;
  box-shadow: 0px 0px 8px 2px #0000002f;
}

.askAdvice__title {
  margin: 10px;
}

.btn {
  border: 2px solid;
  margin: 5px;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: large;
  font-family: var(--tiwik-main-font);}
/* 
.btn-primary {
  color: #fff;
  background-color: #22c1ff;
  border-color: #22c1ff;
} */

/* .btn-danger {
  color: #fff;
  background-color: #f16868;
  border-color: #f16868;
} */

@media screen and (max-width: 800px) {
  .askAdvice {
    display: flex;
    margin: 10px auto;
    background-color: #fff;
    width: 90%;
    border-radius: 999px;
    box-shadow: 0px 0px 5px 1px #0000002f;
  }

  .askAdvice__Modal {
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ece9e9;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    padding: 20px;
  }

  .askAdvice_Modal_Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .ReactModal__Overlay--after-open {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .askAdvice > input {
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    border-radius: 999px;
    background-color: azure;
  }

  .ReactModal__Body--open {
    overflow-y: hidden;
  }

  .askAdvice__title {
    flex: 1;
    outline-width: 0;
    width: 95%;
    border: none;
    padding: 5px 20px;
    border-radius: 99px;
    background-color: azure;
    box-shadow: 0px 0px 5px 1px #0000002f;
  }

  .askAdvice__description {
    outline-width: 0;
    width: 95%;
    height: 300px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    background-color: azure;
    box-shadow: 0px 0px 5px 1px #0000002f;
  }

  .btn {
    border: 2px solid;
    margin: 5px;
    border-radius: 12px;
    font-family: var(--tiwik-main-font);  }
}
