.signup {
  background: #feffff;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.signup__box {
  background-color: feffff;
  border: 1px solid #f1f3f8;
  padding: 15px 0;
  height: 60%;
  width: 24%;
  margin: 200px 19% 0 19%;
  box-shadow: 0px 0px 4px 1px #0000002f;
  border-radius: 25px;
  border: 1px solid lightgray;
}

.signup__box > h2 {
  font-family:var(--tiwik-main-font);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}

.signup__google {
  margin: 10px;
  font-family:var(--tiwik-main-font);
  width: 55%;
  font-weight: 600;
  border: none;
  border-top: 1px solid #efeff1;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.signup__google:hover {
  text-decoration: none;
  color: black;
}

.signup__google__icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.signup__box > h3 {
  font-family:var(--tiwik-main-font);
  font-size: 15px;
  width: 100px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.signup__box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__email,
.signup__firstName,
.signup__surName
{
  font-family:var(--tiwik-main-font);
  flex: 1;
  outline-width: 0;
  width: 75%;
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  background-color: #fff;
  margin: 8px 0;
  border: 1px solid #d6d6d6;
}

.signup__email:focus,
.signup__firstName:focus,
.signup__surName:focus {
  box-shadow: 0px 0px 4px 2px #0000002f;
}

.signup__wrap__password {
  display: flex;
  margin: 10px auto;
  background-color: #fff;
  width: 75%;
  border-radius: 999px;
  border: 1px solid #d6d6d6;
}

.signup__wrap__password > .signup__password:focus {
  box-shadow: 0px 0px 4px 2px #0000002f;
}

.signup__password {
  font-family:var(--tiwik-main-font);
  flex: 1;
  outline-width: 0;
  width: 75%;
  border: none;
  padding: 10px 20px;
  border-radius: 999px 0 0 999px;
  background-color: #fff;
}

.eyeIcon {
  color: #1f1f1f;
  margin-top: 15px;
  margin-right: 12px;
}

.signup__box > form > button {
  margin: 10px 40px;
  border: none;
  width: 75%;
}

.signup__box > form > p {
  width: 75%;
}

.signup__forget__password {
  font-family:var(--tiwik-main-font);
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
}

.signup__forget__password:hover {
  text-decoration: none;
  color: #007bff;
}

.signup__sign__up {
  font-family:var(--tiwik-main-font);
  padding: 20px;
  font-weight: 400;
}

.register__button {
  background: linear-gradient(to top, #1d976c, #93f9b9);
}

.signup__box > form > .btn {
  color: #fff;
  border-color: #ffffff;
}

.register__loginLink {
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);
}

@media screen and (max-width: 800px) {
  .signup__box {
    border: 1px solid #f1f3f8;
    padding: 5px 0;
    height: 60%;
    width: 90%;
    margin: 100px 10px 0 10px;
    box-shadow: none;
    border-radius: 15px;
    border: none;
  }

  .signup__google {
    width: 75%;
    padding: 10px 5px;
  }

  .signup__wrap__password,
  .signup__email,
  .signup__firstName,
  .signup__surName,
  .signup__password {
    width: 90%;
  }

  .signup__box > form > button {
    width: 90%;
  }

  .signup__box > form > a {
    width: 90%;
  }

  .signup__box > form > p {
    font-family:var(--tiwik-main-font);

    margin: 0;
  }

  .signup__box > h2 {
    padding: 5px 0;
  }

  .signup__forget__password {
    margin: 5px 0;
  }
}
