.feed {
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.feed > nav {
  margin-bottom: 5px;
  position: sticky;
}

.feed > nav > a {
  color: gray;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .feed {
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
  }
}