.editPost__answerIcon {
  color:#007bff;
  size: 14px;
}
.editPost__answerModal {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 25%;
  bottom: 20%;
  border: 1px solid #cac7c7;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #0000002f;
}
.editPost__answerTitle {
  margin-bottom: 30px;
  font-size: larger;
  font-weight: 600;
}

.editPost__answerButton {
  border-radius: 999px;
  box-shadow: 0 3px 8px #0000003f;
  background-color: #f8f9fa;
  border-color: 2px solid lightgrey;
}

@media screen and (max-width: 800px) {
  .editPost__answerModal {
    position: fixed;
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 0%;
  }
  
}