.postdetail__title {
  margin: 10px auto;
  text-align: center;
  padding: 5px 10px;
}

.postdetail__description {
  text-align: justify;
  padding: 10px 30px;
  background-color: lightcyan;
  border-radius: 10px;
}

.postdetail__add {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.postdetail__add > span {
  padding: 10px;
}

.postdetail__add > .editPost > .answerButton {
  box-shadow: 0 2px 4px 1px #0000003f;
}