.settings {
  margin: 20px;
}

.settings > h3 {
  text-align: center;
  font-family:var(--tiwik-main-font);
}

.settingItem {
  display: flex;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: lightcyan;
}

.settingItem__Delete {
  position: fixed;
  top: 40%;
  left: 30%;
  right: 30%;
  bottom: 45%;
  border: 1px solid #cac7c7;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #0000002f;
}

.settings_confirmation {
  margin: 10px;
}

.settings_confirmationButtons {
  text-align: center;
}

.settings_confirmation > h5 {
  text-align: center  ;
  font-family:var(--tiwik-main-font);
  margin: 10px;
}

.settingItem > h6 {
  padding: 10px;
  font-family:var(--tiwik-main-font);
}

.settingItem > .btn {
  margin-left: auto;
} 

@media screen and (max-width: 800px) {
  .settings_confirmation > h5 {
    margin: 2px;
  }

  .settingItem__Delete {
    top: 40%;
    left: 10%;
    right: 10%;
    bottom: 35%;
  }
}