.profile__card {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #0093E9;
  background: linear-gradient(to top, #232526, #414345);
  color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 12px #0000003f;
}

.profile__edit__Modal {
  position: fixed;
  top: 30%;
  left: 30%;
  right: 40%;
  bottom: 35%;
  border: 1px solid #cac7c7;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #0000002f;
}

.profile__settingsIcon {
    padding: 10px 10px 10px 0;
    font-size: 40px;
    margin-left: auto;
  }

.profile__imgWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -75px;
}

.profile__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 15px #1f1f1f;
}

.uploadImage > button {
  margin-bottom: -60px;
  margin-left: -20px;
  z-index: 10;
  padding: .375rem .75rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__info__name {
  font-family: var(--tiwik-main-font);  font-size: x-large;
  text-align: center;
  margin: 5px 10%;
}

.profile__following {
  display: block;
  margin: 10px auto;
  font-weight:500;
  font-size: 15px !important;
  padding: 15px !important;
  background: linear-gradient(to top, #11998e, #38ef7d);
  color: #fff;
  border-radius: 25px;
  width: 100px;
}

.profile__unfollowing {
  display: block;
  margin: 10px auto;
  font-weight:500;
  font-size: 15px !important;
  padding: 15px !important;
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);
  color: #fff;
  border-radius: 25px;
  width: 100px;
}

.profile__following:hover {
  color: #fff;
  box-shadow: 0px 0px 20px #0000003f;
}

.profile__unfollowing:hover {
  color: #fff;
  box-shadow: 0px 0px 20px #0000003f;
}


.profile__edit {
  display: block;
  margin: 10px auto;
  font-weight:600;
  font-size: 15px !important;
  padding: 15px !important;
  background: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
  text-align: center;
  color: #fff;
  border-radius: 25px;
  width: 120px;
}

.profile__edit:hover {
  color: #fff;
  box-shadow: 0px 0px 20px 2px #0000003f;
}

.profile__edit__title {
  margin-top: 10px;
  font-family: var(--tiwik-main-font);
}

.profile__edit__userbio {
  font-family:var(--tiwik-sub-font);
  flex: 1;
  outline-width: 0;
  width: 90%;
  height: 150px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  margin: 8px 0;
  box-shadow: 0px 0px 4px 2px #0000002f;
}

.profile__edit__date{
  font-family:var(--tiwik-sub-font);
  flex: 1;
  outline-width: 0;
  width: 55%;
  border: none;
  padding: 10px 20px;
  border-radius: 999px;
  background-color: #fff;
  margin: 8px 0;
  box-shadow: 0px 0px 4px 2px #0000002f;
}

.profile__info__email {
  font-family: var(--tiwik-main-font);
  font-size: large;
  text-align: center;
  margin: 5px 30%;
}

.profile__info__userBio{
  font-family:var(--tiwik-sub-font);
  text-align: center; 
  margin: 5px 30%;
  font-size: medium;
}

.profile__info__birthDate{
  text-align: center;
  margin: 5px 30%;
}

.profile__articles__header {
  font-family: var(--tiwik-main-font);
}

.btn {
  border: 2px solid;
  margin: 5px;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: large;
  font-family: var(--tiwik-main-font);}

:root{
	--loader-width: 200px;
	--loader-height: 200px;
	--loader-color-primary: #83a4d4;
	--loader-color-secondary: #eee;
	--line-width: 5px;
	--animation-duration: 2s;
	--loader-initial-scale: 0.1;
}
.loader,.loader:before,.loader:after{
  margin: 50px auto;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
}

@keyframes circle-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader.simple-circle {
    transform-origin: center center;
    border: var(--line-width, 4px) solid var(--loader-color-secondary, #fff);
    border-right-color: var(--loader-color-primary, #00f);
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    border-radius: 50%;
    animation: circle-loader var(--animation-duration, 1s) infinite ease-out;
}

.profile__followWrapper {
  padding-top: 20px;
}

.profile__followHeader {
  text-align: center;
  font-family: var(--tiwik-main-font);
}

.profile__followItem {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  box-shadow: 0px 0px 4px 2px #0000002f;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.profile__followImg {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #1f1f1f;
}

.profile__followItemName {
  color: #000;
  font-size: 16px;
  margin: auto 5px auto 0;
  padding: auto 10px;
}

.profile__follow__count {
  display: flex;
  margin: 5px auto;
  justify-content: space-evenly;
}

.profile__followersCount {
  display: flex;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 25px;
  margin: 0 10px;
}

.profile__followersCount > span {
  margin-right: 10px;
}

.profile__followingCount {
  display: flex;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 25px;
  margin: 0 10px;
}

.profile__followingCount > span {
  margin-right: 10px;
}

.tabMenuIcon {
  font-size: 25px;
}

.nav > .active > .tabMenuIcon {
  color: #86a8e7
}

@media screen and (max-width: 800px) {
  .profile__card {
    margin-top: 140px;
    border-radius: 25px;
    box-shadow: 0px 0px 12px #0000003f;
  }

  .profile__img {
    margin-top: -20px;
    height: 120px;
    width: 120px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 15px #1f1f1f;
  }

  .uploadImage > button {
    margin-bottom: -60px;
    margin-left: -20px;
    z-index: 10;
    padding: .375rem .75rem;
  }

  .profile__info__name {
    font-family: var(--tiwik-main-font);
    font-size: larger;
    font-weight: 600;
    text-align: center;
    margin: 15px auto 5px auto;
  }

  .profile__info__email {
    font-family: var(--tiwik-main-font);
    font-size: large;
    text-align: center;
    margin: 5px auto;
  }

  .profile__info__userBio{
    text-align: center;
    margin: 5px auto;
  }

  .profile__follow {
    font-size: medium;
    width: 75px;
  }

  .profile__edit__Modal {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #cac7c7;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #0000002f;
  }


  .profile__followItem {
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    box-shadow: 0px 0px 4px 2px #0000002f;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .profile__followImg {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px #1f1f1f;
  }

  .profile__followItemName {
    color: #000;
    font-size: 18px;
    margin: auto 5px auto 0;
    padding: auto 10px;
  }

  .tabMenuIcon {
    font-size: 20px;
  }

}