.question {
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0px 0px 6px #0000003f;
  border-radius: 10px;
}

.question__title {
  padding: 5px;
  font-weight: 500;
  font-size: larger;
  color: #1f1f1f;
}

.question__description {
  padding: 5px 5px 0 5px;
  border-top: 1px solid lightgray;
  text-indent: 25px;
  text-align: justify;
}

.question__header {
  display: flex;
  font-family: var(--tiwik-head-font);
}

.question__buttons {
  display: flex;
  margin-left: auto;
}

.question > .question__wrapper > .question__header > .question__answer {
  margin-left: auto;
}

.question__answerModal {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 25%;
  bottom: 20%;
  border: 1px solid #cac7c7;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #0000002f;
}

.question_answerTitle {
  margin-bottom: 30px;
  font-size: x-large;
  font-weight: 600;
}

.question__answerIcon {
  color:blue;
  size: 14px;
}

.question__editIcon {
  color: gray;
  size: 14px;
}

.question__deleteIcon{
  color: red;
  size: 14px;
}

@media screen and (max-width: 800px) {
.question__buttons {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.question__answerModal {
  position: fixed;
  top: 10%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.question__title {
  font-size: 16px;
  font-weight: 500;
}
.question_answerTitle {
  margin-bottom:30px;
  font-size: larger;
  font-weight: 600;
}
}