.search > .search__icon {
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.search > .btn:focus,
.search > .btn:active {
  outline: none !important;
  box-shadow: none;
}

.search__Modalclose {
  margin-top: 60px !important;
  float: right;
}

.search__Modal {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 0;
  border: none;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 1px;
  /* box-shadow: 0px 0px 10px 2px #0000002f; */
}


.search__bar {
  flex: 1;
  outline-width: 0;
  width: 40%;
  border: none;
  margin-top: 60px;
  padding: 5px 20px;
  border-radius: 9px 0 0 9px;
  background-color: azure;
  box-shadow: 0px 0px 8px 2px #0000002f;
}

.search__results {
  /* display: inline-block; */
  position: absolute;
  width: 40%;
  border: 2px solid transparent;
  border-radius: 0 0 5px 5px;
  margin: -3px 26% 5px 26%;
  background-color: transparent;
  z-index: 20;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: whitesmoke;
}

.search__item{
  flex: 1;
  text-align: left;
  width: 100%;
  font-size: medium;
  background-color: lightgray;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.search__item > a {
  color: black;
}

@media screen and (max-width: 800px) {
  .search__Modal {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
  }

  .search__bar {
    margin-top: 50px;
    width: 90%;
    border-radius: 9px 9px 9px 9px;
  }

  .search__Modal > form > center > .btn {
    display: none !important;
  }

  .search__results {
    width: 80%;
    margin: -3px 10% 5px 10%;
  }

  .search__Modalclose {
    display: none !important;
  }
}
