.bookMarked {
  margin-top: 20px;
}

.bookMarked > nav > a{
  color: gray;
}

.bookMarked__header {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--tiwik-main-font);    
}

.bookmarked_Articles {
  margin-top: 10px;
}

.no__articles {
  text-align: center;
  margin-top: 20px;
}

.bookmarked_ArticlesHeader {
  text-align: center;
  font-family: var(--tiwik-main-font);    
}

.bookmarked_Answers {
  margin-top: 10px;
}

.bookmarked_ArticlesHeader {
  text-align: center;
  font-family: var(--tiwik-main-font);
}