.share {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 10px;
  background-color: white;
  width: 90%;
  border-radius: 15px;
}

.share__select {
  outline-width: 0;
  font-size: medium;
  width: 90%;
  margin: 0 auto;
  height: 60px;
  border: none;
  padding: 5px 20px;
  box-shadow: 0 2px 8px -1px #0000003f;
  border: 2px solid #dbe0e4;
}

.share__Modal {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 25%;
  bottom: 5%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 0px 10px 2px #0000002f;
  padding: 20px 20px 40px 20px;
}

.share__alert {
  text-align: center;
}

.share__alertText{
  box-sizing: inherit;
}

.share__header {
  text-align: center;
  font-size: 20px;
}

.share > form > h5 {
  font-family: var(--tiwik-main-font);
   margin: 5px 2.5%;
  font-size: 20px;
}

.share__title:focus,
.share__title:active {
  box-shadow: 0px 0px 12px 6px #0000002f;
}

.share__titleWrapper > h5 {
  margin-left: 5%;
  margin-bottom: 20px;
}

.share__title {
  flex: 1;
  outline-width: 0;
  width: 90%;
  border: none;
  margin: 0 5%;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: azure;
  box-shadow: 0px 0px 8px 2px #0000002f;
}

.share__content {
  flex: 1;
  outline-width: 0;
  border: none;
  margin-top: 10px;
  padding: 20px 5px;
  border-radius: 999px;
}

.share__content > h5 {
  margin-left: 5%;
}

.ck-content {
  height: 500px;
  margin: 5px 5%;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 2px #9e9e9e2f;
}

.ck-sticky-panel{
  margin: 0 2.5% !important;
}

.ck-content:focus
.ck-content:active {
  box-shadow: 0px 0px 1px 2px #0000002f;
}

.autocomplete__results {
  position: absolute;
  width: 80%;
  border: 2px solid transparent;
  border-radius: 0 0 5px 5px;
  margin: 1px 2.5% 5px 2.5%;
  background-color: transparent;
  z-index: 20;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: whitesmoke;
}

.autocomplete__item{
  flex: 1;
  width: 100%;
  font-size: medium;
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 800px) {
  .share {
    margin: 10px 0;
    width: 100%;
  }

  .share__select {
    height: 40px;
    border-radius: 10px;
  }

  .share__Modal {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 0px 10px 2px #0000002f;
    padding: 20px 20px 40px 20px;
  }

  .share > form > h5 {
    font-family: var(--tiwik-main-font);    margin: 5px 2.5%;
    font-size: 20px;
  }

  .share__question {
    font-size: 15px;
    padding: 3px 15px;
    box-shadow: 0px 0px 4px 1px #0000002f;
    height: 30px;
  }

  .ck-content {
    height: 300px;
    }
}
